# IGNORE THE OUTPUT DIRECTORIES
*.root
*.pdf
*.so
*.pycMu
*.cxx_tmp_*
*.pcm
*.cc
*.d
*.pyc
*.DS_Store

.vscode/
.ipynb_checkpoints/
*/__pycache__/*

# Ignore metadata generation outputs
Scripts/MetadataGen/*.txt

TauMu/MC/out/*
TauMu/MC/output/*
TauMu/MC/error/*
TauMu/MC/log/*
TauMu/DATA/out/*
TauMu/DATA/output/*
TauMu/DATA/error/*
TauMu/DATA/log/*

EleTau/MC/out/*
EleTau/MC/output/*
EleTau/MC/error/*
EleTau/MC/log/*
EleTau/DATA/out/*
EleTau/DATA/output/*
EleTau/DATA/error/*
EleTau/DATA/log/*

MuEle/MC/out/*
MuEle/MC/output/*
MuEle/MC/error/*
MuEle/MC/log/*
MuEle/DATA/out/*
MuEle/DATA/output/*
MuEle/DATA/error/*
MuEle/DATA/log/*

MuMu/MC/out/*
MuMu/MC/output/*
MuMu/MC/error/*
MuMu/MC/log/*
MuMu/DATA/out/*
MuMu/DATA/output/*
MuMu/DATA/error/*
MuMu/DATA/log/*

Zee/MC/out/*
Zee/MC/output/*
Zee/MC/error/*
Zee/MC/log/*
Zee/DATA/out/*
Zee/DATA/output/*
Zee/DATA/error/*
Zee/DATA/log/*

WJets/MC/out/*
WJets/MC/output/*
WJets/MC/error/*
WJets/MC/log/*
WJets/DATA/out/*
WJets/DATA/output/*
WJets/DATA/error/*
WJets/DATA/log/*

VBFAnalysisPlots/*/*
!VBFAnalysisPlots/*/*.sh
!VBFAnalysisPlots/*/*.ipynb

Scripts/Plots/*
Scripts/results/*

# Condor logs
error/*
output/*
log/*