# IGNORE THE OUTPUT DIRECTORIES
TauMu/MC/out/
TauMu/DATA/out/
TauMu/MC/out_previous/
TauMu/DATA/out_previous/

EleTau/MC/out/
EleTau/DATA/out/
EleTau/MC/out_previous/
EleTau/DATA/out_previous/

MuMu/MC/out/
MuMu/DATA/out/
MuMu/MC/out_previous/
MuMu/DATA/out_previous/

Zee/MC/out/
Zee/DATA/out/
Zee/MC/out_previous/
Zee/DATA/out_previous/
