# IGNORE THE OUTPUT DIRECTORIES
*.root
*.pdf
*.so
*.pycMu
*.cxx_tmp_*
*.pcm
*.cc
*.d
*.pyc

.vscode/
.ipynb_checkpoints/

TauMu/MC/out/*
TauMu/MC/output/*
TauMu/MC/error/*
TauMu/MC/log/*
TauMu/DATA/out/*
TauMu/DATA/output/*
TauMu/DATA/error/*
TauMu/DATA/log/*

TauMu/Plots/*
!TauMu/Plots/*.ipynb
!TauMu/Plots/*.sh

EleTau/MC/out/*
EleTau/MC/output/*
EleTau/MC/error/*
EleTau/MC/log/*
EleTau/DATA/out/*
EleTau/DATA/output/*
EleTau/DATA/error/*
EleTau/DATA/log/*

EleTau/Plots/*
!EleTau/Plots/*.ipynb
!EleTau/Plots/*.sh

MuEle/MC/out/*
MuEle/MC/output/*
MuEle/MC/error/*
MuEle/MC/log/*
MuEle/DATA/out/*
MuEle/DATA/output/*
MuEle/DATA/error/*
MuEle/DATA/log/*

MuEle/Plots/*
!MuEle/Plots/*.ipynb
!MuEle/Plots/*.sh

MuMu/MC/out/*
MuMu/MC/output/*
MuMu/MC/error/*
MuMu/MC/log/*
MuMu/DATA/out/*
MuMu/DATA/output/*
MuMu/DATA/error/*
MuMu/DATA/log/*

MuMu/Plots/*
!MuMu/Plots/*.ipynb
!MuMu/Plots/*.sh


Zee/MC/out/*
Zee/MC/output/*
Zee/MC/error/*
Zee/MC/log/*
Zee/DATA/out/*
Zee/DATA/output/*
Zee/DATA/error/*
Zee/DATA/log/*

Zee/Plots/*
!Zee/Plots/*.ipynb
!Zee/Plots/*.sh


WJets/MC/out/*
WJets/MC/output/*
WJets/MC/error/*
WJets/MC/log/*
WJets/DATA/out/*
WJets/DATA/output/*
WJets/DATA/error/*
WJets/DATA/log/*

WJets/Plots/*
!WJets/Plots/*.ipynb
!WJets/Plots/*.sh

TauLep/*
!TauLep/*.ipynb
!TauLep/*.sh
